@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 639px) {
  .faq-question::before {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    box-sizing: border-box;
  }

  span,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }

  h1 {
    @apply font-serifLogo;
  }

  p {
    @apply font-helvetica;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  a {
    display: block;
    cursor: pointer;
    text-decoration: none;
  }
}

@layer components {
  .faq-question::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ffbb55;
  }

  .icon {
    margin-left: 8px;
    vertical-align: middle;
    transform-origin: center;
    transform: rotate(0deg);
  }

  .icon.rotate {
    transform: rotate(180deg);
  }
}

@layer utilities {
  @keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
